<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>BOFU2016 Sync Project</title>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@bemusegame" />
    <meta name="twitter:title" content="BOFU2016 Sync Project" />
    <meta name="twitter:description" content="This project aims to distribute BOFU2016 packages to all players as they become available, using synchronization technology." />

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="content">
      {{ content }}
    </div>
  </body>
</html>

